Mutagen.Bethesda.Examples/MainVM.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema id="MainVM" targetNamespace="Examples" elementFormDefault="qualified" xmlns="Examples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Common.xsd" />
   <xs:element name="MainVM" type="MainVMType" />
   <xs:complexType name="MainVMType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="ModFilePath" type="NullableValueType" minOccurs="0" maxOccurs="1" />
      </xs:choice>
   </xs:complexType>
</xs:schema>