Mutagen.Bethesda.Tests/Generated/BinaryProcessorInstructions.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema id="BinaryProcessorInstructions" targetNamespace="Tests" elementFormDefault="qualified" xmlns="Tests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="RecordInstruction.xsd" />
   <xs:element name="BinaryProcessorInstructions" type="BinaryProcessorInstructionsType" />
   <xs:complexType name="BinaryProcessorInstructionsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="CompressionInstructions" type="CompressionInstructionsType" minOccurs="0" maxOccurs="1" />
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="CompressionInstructionsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="RecordInstruction" type="RecordInstructionType" />
      </xs:choice>
   </xs:complexType>
</xs:schema>