Mutagen.Bethesda.Tests/Generated/Instruction.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema id="Instruction" targetNamespace="Tests" elementFormDefault="qualified" xmlns="Tests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Substitution.xsd" />
   <xs:include schemaLocation="Move.xsd" />
   <xs:element name="Instruction" type="InstructionType" />
   <xs:complexType name="InstructionType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Moves" type="MovesType" minOccurs="0" maxOccurs="1" />
         <xs:element name="Substitutions" type="SubstitutionsType" minOccurs="0" maxOccurs="1" />
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="MovesType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Move" type="MoveType" />
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="SubstitutionsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Substitution" type="SubstitutionType" />
      </xs:choice>
   </xs:complexType>
</xs:schema>