Mutagen.Bethesda.Tests/Generated/Move.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema id="Move" targetNamespace="Tests" elementFormDefault="qualified" xmlns="Tests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Common.xsd" />
   <xs:element name="Move" type="MoveType" />
   <xs:complexType name="MoveType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="SectionToMove" type="ValueType" minOccurs="0" maxOccurs="1" />
         <xs:element name="LocationToMove" type="ValueType" minOccurs="0" maxOccurs="1" />
      </xs:choice>
   </xs:complexType>
</xs:schema>