Mutagen.Bethesda.Tests/Generated/RecordInstruction.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema id="RecordInstruction" targetNamespace="Tests" elementFormDefault="qualified" xmlns="Tests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Instruction.xsd" />
   <xs:element name="RecordInstruction" type="RecordInstructionType" />
   <xs:complexType name="RecordInstructionType">
      <xs:complexContent>
         <xs:extension base="InstructionType">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
               <xs:element name="Record" type="ValueType" minOccurs="0" maxOccurs="1" />
            </xs:choice>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>