Mutagen.Bethesda.Tests/Settings/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="Tests" elementFormDefault="qualified" xmlns="Tests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="ValueType">
      <xs:attribute name="value" use="required" />
   </xs:complexType>
   <xs:complexType name="NullableValueType">
      <xs:attribute name="value" use="optional" />
   </xs:complexType>
</xs:schema>
