Mutagen.Bethesda.Tests/Settings/DataFolderLocations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DataFolderLocations" targetNamespace="Tests" elementFormDefault="qualified" xmlns="Tests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="Common.xsd" />
   <xs:element name="DataFolderLocations" type="DataFolderLocationsType" />
   <xs:complexType name="DataFolderLocationsType">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="Oblivion" type="NullableValueType" minOccurs="0" maxOccurs="1" />
         <xs:element name="Skyrim" type="NullableValueType" minOccurs="0" maxOccurs="1" />
      </xs:choice>
   </xs:complexType>
</xs:schema>
